nav{
    background: salmon;
 }
 nav ul{
    list-style-type: none;
    display: flex;
 }
 nav ul li{
    flex:1 1 0; 
    text-align: center;
    position: relative;
 }
 nav ul li a{
    text-align: center;
    display: block;
    padding: 10px;
    color: white;
 }
 nav a:hover{
    color: white;
    background: orange;
    text-decoration: none;
 }
 .container{
     display: flex;
     flex-wrap: nowrap;
     justify-content: space-between;
     


 } 